# Environment local files
.env.local
.env.*.local
.env

# Dependencies & Build Outputs
node_modules/
dist/
build/
src/convex/_generated/
target/

# OS / IDE specific
.DS_Store
Thumbs.db
.idea/
.vscode/

backend/target/
backend/uploads/